@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for slick dots */
.slick-dots li button {
    width: 15px; /* Set width for all dots */
    height: 15px; /* Set height for all dots */
}

.slick-dots li.slick-active button {
    width: 15px; /* Active dot width */
    height: 15px; /* Active dot height */
    background-color: #4A5568; /* Change to your desired active dot color */
}

.slick-dots li button {
    background-color: black; /* Inactive dot color */
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scroll-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
